<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.ntust.jojllman.wearableapplication">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChooseClassActivity"/>
        <activity android:name=".AppManageActivity" />
        <activity android:name=".AppSettingActivity" />
        <activity android:name=".VisualSupportActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HearingSupportActivity" />
        <activity android:name=".HearingSettingActivity" />
        <activity android:name=".RecordGestureActivity" />
        <activity android:name=".GestureDBActivity" />
        <activity android:name=".GloveControlActivity" />
        <activity android:name=".VisualSettingActivity" />
        <activity android:name=".VisualSearchActivity" />
        <activity android:name=".HearingSearchActivity" />

        <service
            android:name=".BLE.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name=".BLE.BlunoService"
            android:enabled="true" />
        <service
            android:name=".BLE.DeleteService"
            android:enabled="true" />
        <service
            android:name=".BLE.RecognitionService"
            android:enabled="true" />
        <service
            android:name=".BLE.TextToSpeechService"
            android:enabled="true" />

        <activity android:name=".GloveSettingActivity"></activity>
        <activity android:name=".BraceletControlActivity"></activity>
    </application>

</manifest>